[submodule "3rdparty/nlohmann-json"]
	path = 3rdparty/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "3rdparty/openenclave-curl/curl"]
	path = 3rdparty/openenclave-curl/curl
	url = https://github.com/curl/curl.git
[submodule "3rdparty/QCBOR"]
	path = 3rdparty/QCBOR
	url = https://github.com/laurencelundblade/QCBOR
[submodule "3rdparty/t_cose"]
	path = 3rdparty/t_cose
	url = https://github.com/laurencelundblade/t_cose
